## Working with Arrays

Create a 3 x 6-dimensional array, containing only float values.

In [1]:
import numpy as np

In [2]:
a = np.array([[1.2, 1.2, 1.3, 1.4, 1.5, 1.6],
              [2.1, 2.2, 2.3, 2.4, 2.5, 2.6],
              [3.1, 2.2, 3.3, 3.4, 3.5, 3.6]]
              )
a

array([[1.2, 1.2, 1.3, 1.4, 1.5, 1.6],
       [2.1, 2.2, 2.3, 2.4, 2.5, 2.6],
       [3.1, 2.2, 3.3, 3.4, 3.5, 3.6]])

Check the dimension you have created is correct (use “*.shape*”)

In [3]:
a.shape

(3, 6)

Substitute the 5th element from the 2nd row with 19.75.

In [4]:
a[1][4] = 19.5
a

array([[ 1.2,  1.2,  1.3,  1.4,  1.5,  1.6],
       [ 2.1,  2.2,  2.3,  2.4, 19.5,  2.6],
       [ 3.1,  2.2,  3.3,  3.4,  3.5,  3.6]])

Extract the 2nd and the 3rd row of the array you created.

In [5]:
a[1]

array([ 2.1,  2.2,  2.3,  2.4, 19.5,  2.6])

In [6]:
a[2]

array([3.1, 2.2, 3.3, 3.4, 3.5, 3.6])