In [1]:
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [2]:
company = wb.DataReader('ITC.NS', data_source='yahoo', start='2002-1-1')
company

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2002-01-01,15.422222,15.022222,15.066666,15.201111,7961310.0,9.625690
2002-01-02,15.777777,15.308888,15.333333,15.720000,21220650.0,9.954263
2002-01-03,15.888888,15.604444,15.777777,15.727777,9733275.0,9.959188
2002-01-04,15.972222,15.600000,15.777777,15.708888,11242305.0,9.947227
2002-01-07,15.977777,15.691111,15.822222,15.814444,10055565.0,10.014067
...,...,...,...,...,...,...
2022-07-20,299.500000,293.600006,294.899994,298.200012,15789281.0,298.200012
2022-07-21,302.200012,298.000000,299.000000,299.549988,16042840.0,299.549988
2022-07-22,302.500000,298.100006,300.000000,300.549988,9967545.0,300.549988
2022-07-25,302.950012,298.799988,299.000000,301.100006,10640727.0,301.100006
2022-07-26,302.799988,300.450012,301.000000,302.000000,4118267.0,302.000000

In [3]:
company['Log Return'] = np.log(company['Adj Close']/company['Adj Close'].shift(1))
company['Log Return']

Date
2002-01-01         NaN
2002-01-02    0.033565
2002-01-03    0.000495
2002-01-04   -0.001202
2002-01-07    0.006697
                ...
2022-07-20    0.012146
2022-07-21    0.004517
2022-07-22    0.003333
2022-07-25    0.001828
2022-07-26    0.002985
Name: Log Return, Length: 5116, dtype: float64

In [4]:
avg_daily_log_return = company['Log Return'].mean()
avg_daily_log_return

0.0006737031285874241

In [5]:
avg_annual_log_return = avg_daily_log_return*250
avg_annual_log_return

0.16842578214685602

In [6]:
print(f"Average Annual Log Returns: {avg_annual_log_return*100}%")

Average Annual Log Returns: 16.842578214685602%