In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [3]:
ser

0    0.509351
1    0.704918
2    0.665292
3    0.914238
4    0.813065
Name: Column 01, dtype: float64

In [4]:
ser[2]

0.6652919148494665

In [5]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG', data_source='iex', start='2015-1-1', api_key='pk_05c71fc9a44040acb92051bc1c1c80d9')

In [7]:
PG

              open     high       low   close   volume
date
2015-01-02   90.84   91.000   89.9200   90.44  7255494
2015-01-05   90.23   91.000   89.8500   90.01  8626143
2015-01-06   90.31   90.560   89.2600   89.60  7791195
2015-01-07   89.94   90.370   89.5626   90.07  5986899
2015-01-08   90.48   91.225   90.1300   91.10  6831617
...            ...      ...       ...     ...      ...
2022-07-18  144.94  145.090  143.1700  143.31  6047504
2022-07-19  144.57  145.010  143.6400  144.04  5943647
2022-07-20  144.00  144.220  140.6400  141.55  8635300
2022-07-21  140.60  141.360  138.9500  140.77  8310202
2022-07-22  140.76  143.170  140.6700  143.02  5292834

[1902 rows x 5 columns]