## Calculating Portfolio Risk

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb

In [2]:
tickers = ["MSFT", "AAPL"]

data = pd.DataFrame()

for ticker in tickers:
    data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2007-1-1')["Adj Close"]
    
data

                  MSFT        AAPL
Date
2007-01-03   21.688021    2.555397
2007-01-04   21.651709    2.612117
2007-01-05   21.528234    2.593515
2007-01-08   21.738859    2.606323
2007-01-09   21.760651    2.822829
...                ...         ...
2022-10-19  236.479996  143.860001
2022-10-20  236.149994  143.389999
2022-10-21  242.119995  147.270004
2022-10-24  247.250000  149.449997
2022-10-25  250.660004  152.339996

[3982 rows x 2 columns]

In [3]:
data.head()

                 MSFT      AAPL
Date
2007-01-03  21.688021  2.555397
2007-01-04  21.651709  2.612117
2007-01-05  21.528234  2.593515
2007-01-08  21.738859  2.606323
2007-01-09  21.760651  2.822829

In [4]:
data.tail()

                  MSFT        AAPL
Date
2022-10-19  236.479996  143.860001
2022-10-20  236.149994  143.389999
2022-10-21  242.119995  147.270004
2022-10-24  247.250000  149.449997
2022-10-25  250.660004  152.339996

In [5]:
returns = np.log(data/data.shift(1))
returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079799
...              ...       ...
2022-10-19 -0.008506  0.000765
2022-10-20 -0.001396 -0.003272
2022-10-21  0.024966  0.026699
2022-10-24  0.020967  0.014694
2022-10-25  0.013697  0.019153

[3982 rows x 2 columns]

In [6]:
annual_returns = returns.mean() * 250
annual_returns

MSFT    0.153689
AAPL    0.256714
dtype: float64

## MSFT

In [7]:
annual_returns["MSFT"] * 100

15.368860756516451

In [8]:
returns["MSFT"].std()

0.017858493254512425

In [9]:
returns["MSFT"].std() * 250 ** 0.5

0.2823675713150617

## Apple

In [10]:
annual_returns["AAPL"] * 100

25.671359757795138

In [11]:
returns["AAPL"].std()

0.02033248908888623

In [12]:
returns["AAPL"].std() * 250 ** 0.5

0.32148488010701126

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

Covariance matrix:

***

Correlation matrix:

In [13]:
cov_matrix = returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000319  0.000206
AAPL  0.000206  0.000413

In [14]:
cov_matrix * 250

          MSFT      AAPL
MSFT  0.079731  0.051568
AAPL  0.051568  0.103353

In [15]:
corr_matrix = returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.568078
AAPL  0.568078  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [16]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [17]:
pfolio_var = np.dot(weights.T, np.dot(returns.cov() * 250, weights))
pfolio_var

0.07155516219062617

Portfolio Volatility:

In [18]:
pfolio_vol = (np.dot(weights.T, np.dot(returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.26749796670372317

In [19]:
print(str(round(pfolio_vol, 5) * 100) + '%')

26.75%