In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [3]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.820024
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.757339
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.647638
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.663310
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.631967

In [4]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-10-17,128.279999,125.860001,126.010002,127.339996,6664600.0,126.442642
2022-10-18,130.070007,127.660004,129.330002,128.369995,7114200.0,127.465378
2022-10-19,133.000000,129.509995,131.639999,129.559998,9993700.0,128.647003
2022-10-20,129.770004,126.680000,128.619995,126.989998,8168000.0,126.989998
2022-10-21,128.949997,126.480003,126.540001,128.580002,6393900.0,128.580002

## Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
PG['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1
print (PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014142
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2022-10-17    0.018068
2022-10-18    0.008089
2022-10-19    0.009270
2022-10-20   -0.012880
2022-10-21    0.012521
Name: simple_return, Length: 7002, dtype: float64