## Diversifiable and Non-Diversifiable Risk of a Portfolio

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
data = pd.DataFrame()
for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
data

                  MSFT        AAPL
Date
2007-01-03   21.688023    2.555397
2007-01-04   21.651709    2.612116
2007-01-05   21.528219    2.593515
2007-01-08   21.738869    2.606322
2007-01-09   21.760656    2.822829
...                ...         ...
2022-10-19  236.479996  143.860001
2022-10-20  236.149994  143.389999
2022-10-21  242.119995  147.270004
2022-10-24  247.250000  149.449997
2022-10-25  250.660004  152.339996

[3982 rows x 2 columns]

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [2]:
returns = np.log(data/data.shift(1))
returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005720 -0.007147
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2022-10-19 -0.008506  0.000765
2022-10-20 -0.001396 -0.003272
2022-10-21  0.024966  0.026699
2022-10-24  0.020967  0.014694
2022-10-25  0.013697  0.019153

[3982 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [3]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [4]:
pfolio_var1 = (np.dot(weights.T, np.dot(returns.cov() * 250, weights))) 
pfolio_var1

0.07155511553912454

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [5]:
variance = returns.var() * 250

In [6]:
variance[0]

0.07973143389109323

Or:

In [7]:
variance[1]

0.10335247651694725

Calculating Diversifiable Risk:

In [8]:
d_risk = pfolio_var1 - (weights[0] ** 2 * variance[0]) - (weights[1] ** 2 * variance[1])
d_risk

0.025784137937114423

Calculating Non-Diversifiable Risk:

In [9]:
nd_disk = pfolio_var1 - d_risk
nd_disk

0.04577097760201011

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [10]:
weights2 = np.array([0.2, 0.8])

Portfolio Variance:

In [11]:
pfolio_var2 = (np.dot(weights2.T, np.dot(returns.cov() * 250, weights2))) 
pfolio_var2

0.08583669060624342

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [12]:
d_risk2 = pfolio_var2 - (weights2[0] ** 2 * variance[0]) - (weights2[1] ** 2 * variance[1])
d_risk2

0.016501848279753442

Calculating Non-Diversifiable Risk:

In [13]:
nd_risk2 = pfolio_var2 - d_risk2
nd_risk2

0.06933484232648998