## Diversifiable and Non-Diversifiable Risk of a Portfolio

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Yahoo Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data

                  MSFT        AAPL
Date
2007-01-03   21.688026    2.555397
2007-01-04   21.651709    2.612116
2007-01-05   21.528234    2.593515
2007-01-08   21.738865    2.606322
2007-01-09   21.760660    2.822829
...                ...         ...
2022-10-19  236.479996  143.860001
2022-10-20  236.149994  143.389999
2022-10-21  242.119995  147.270004
2022-10-24  247.250000  149.449997
2022-10-25  250.660004  152.339996

[3982 rows x 2 columns]

In [2]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3982 entries, 2007-01-03 to 2022-10-25
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSFT    3982 non-null   float64
 1   AAPL    3982 non-null   float64
dtypes: float64(2)
memory usage: 93.3 KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [3]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007146
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2022-10-19 -0.008506  0.000765
2022-10-20 -0.001396 -0.003272
2022-10-21  0.024966  0.026699
2022-10-24  0.020967  0.014694
2022-10-25  0.013697  0.019153

[3982 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [4]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [5]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.0715551595617589

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [6]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.079731
dtype: float64

In [7]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.103353
dtype: float64

Or:

In [8]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.07973148654801418

In [9]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.10335252719188709

Calculating Diversifiable Risk:

In [10]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.02578415612678358

In [11]:
print (str(round(dr*100, 3)) + ' %')

2.578 %

Calculating Non-Diversifiable Risk:

In [12]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.04577100343497532

Or:

In [13]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.04577100343497532

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [14]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [15]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.08583673678586998

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [16]:
dr_2 = pfolio_var_2 - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr_2

0.016501859921141657

In [17]:
print (str(round(dr_2*100, 3)) + ' %')

1.65 %

Calculating Non-Diversifiable Risk:

In [18]:
n_dr_2 = pfolio_var_2 - dr_2
n_dr_2

0.06933487686472832

Or:

In [19]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
n_dr_2

0.06933487686472832