## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [2]:
tickers = ['WMT', 'META']
data = pd.DataFrame()
for ticker in tickers:
    data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2014-1-1')["Adj Close"]

In [3]:
data.head()

                  WMT       META
Date
2013-12-31  64.814354  54.650002
2014-01-02  64.995575  54.709999
2014-01-03  64.781410  54.560001
2014-01-06  64.418991  57.200001
2014-01-07  64.616661  57.919998

In [4]:
data.tail()

                   WMT        META
Date
2022-10-18  134.139999  132.800003
2022-10-19  133.759995  133.229996
2022-10-20  134.089996  131.529999
2022-10-21  136.800003  130.009995
2022-10-24  139.410004  129.720001

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [5]:
returns = np.log(data/data.shift(1)) 
returns

                 WMT      META
Date
2013-12-31       NaN       NaN
2014-01-02  0.002792  0.001097
2014-01-03 -0.003301 -0.002745
2014-01-06 -0.005610  0.047253
2014-01-07  0.003064  0.012509
...              ...       ...
2022-10-18  0.020866 -0.009294
2022-10-19 -0.002837  0.003233
2022-10-20  0.002464 -0.012842
2022-10-21  0.020009 -0.011624
2022-10-24  0.018899 -0.002233

[2220 rows x 2 columns]

In [6]:
returns[["WMT", "META"]].mean() * 250

WMT     0.086288
META    0.097389
dtype: float64

In [7]:
returns[["WMT", "META"]].std()

WMT     0.013389
META    0.022706
dtype: float64

In [8]:
returns[["WMT", "META"]].std() * 250 ** 0.5

WMT     0.211694
META    0.359018
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

Covariance matrix:

In [9]:
cov_matrix = returns.cov()
cov_matrix

           WMT      META
WMT   0.000179  0.000066
META  0.000066  0.000516

In [10]:
annual_cov_marix = returns.cov() * 250
annual_cov_marix

           WMT      META
WMT   0.044814  0.016453
META  0.016453  0.128894

Correlation matrix:

In [11]:
corr_matrix = returns.corr()
corr_matrix

           WMT      META
WMT   1.000000  0.216477
META  0.216477  1.000000

Would you consider investing in such a portfolio?