## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
tickers = ['AAPL', 'MSFT']
data = pd.DataFrame()
for ticker in tickers:
    data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2000-1-1')["Adj Close"]

In [3]:
data.head()

                AAPL       MSFT
Date
1999-12-31  0.783791  36.614182
2000-01-03  0.853355  36.555367
2000-01-04  0.781409  35.320534
2000-01-05  0.792844  35.692940
2000-01-06  0.724232  34.497284

In [4]:
data.tail()

                  AAPL        MSFT
Date
2022-10-18  143.750000  238.500000
2022-10-19  143.860001  236.479996
2022-10-20  143.389999  236.149994
2022-10-21  147.270004  242.119995
2022-10-24  147.635300  243.820404

In [5]:
daily_returns = np.log(data) - np.log(data.shift(1))
daily_returns

                AAPL      MSFT
Date
1999-12-31       NaN       NaN
2000-01-03  0.085033 -0.001608
2000-01-04 -0.088077 -0.034364
2000-01-05  0.014527  0.010488
2000-01-06 -0.090514 -0.034072
...              ...       ...
2022-10-18  0.009365  0.004075
2022-10-19  0.000765 -0.008506
2022-10-20 -0.003272 -0.001396
2022-10-21  0.026699  0.024966
2022-10-24  0.002477  0.006998

[5741 rows x 2 columns]

In [6]:
annual_returns = daily_returns.mean() * 250
annual_returns

AAPL    0.228151
MSFT    0.082578
dtype: float64

### MSFT

Daily risk:

In [7]:
daily_returns['MSFT'].std()

0.019326443342910518

Annual risk:

In [8]:
daily_returns['MSFT'].std() * 250 ** 0.5

0.3055779001689791

### Apple

Daily risk:

In [9]:
daily_returns['AAPL'].std()

0.026039790558588065

Annual risk:

In [10]:
daily_returns['AAPL'].std() * 250 ** 0.5

0.4117252397944326

******

Store the volatilities of the two stocks in an array called “vols”.

In [11]:
vols = daily_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5 * 100 
vols

MSFT    30.557790
AAPL    41.172524
dtype: float64

How are the two risk values different?