## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
MSFT = wb.DataReader("MSFT", data_source='yahoo', start='2000-1-1')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
MSFT.head()

               High      Low      Open     Close      Volume  Adj Close
Date
1999-12-31  58.8750  58.1250  58.75000  58.37500  12517600.0  36.691891
2000-01-03  59.3125  56.0000  58.68750  58.28125  53228400.0  36.632965
2000-01-04  58.5625  56.1250  56.78125  56.31250  54119000.0  35.395504
2000-01-05  58.1875  54.6875  55.56250  56.90625  64059600.0  35.768703
2000-01-06  56.9375  54.1875  56.09375  55.00000  54976600.0  34.570526

In [4]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-07-19,259.720001,253.679993,257.579987,259.529999,25012600.0,259.529999
2022-07-20,264.869995,258.910004,259.899994,262.269989,22788300.0,262.269989
2022-07-21,264.890015,257.029999,259.790009,264.839996,22404700.0,264.839996
2022-07-22,265.329987,259.070007,265.239990,260.359985,21871000.0,260.359985
2022-07-25,261.500000,256.809998,261.000000,258.829987,21018800.0,258.829987

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
MSFT["Simple_Return"] = (MSFT['Adj Close'] / MSFT['Adj Close'].shift(1)) - 1
MSFT["Simple_Return"]

Date
1999-12-31         NaN
2000-01-03   -0.001606
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
                ...
2022-07-19    0.020767
2022-07-20    0.010558
2022-07-21    0.009799
2022-07-22   -0.016916
2022-07-25   -0.005876
Name: Simple_Return, Length: 5677, dtype: float64