In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [3]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.875521
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.812391
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.701915
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.717696
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.686132

In [4]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-07-19,145.009995,143.639999,144.570007,144.039993,5943600.0,143.110931
2022-07-20,144.220001,140.639999,144.000000,141.550003,8635300.0,140.637009
2022-07-21,141.360001,138.949997,140.600006,140.770004,8310200.0,140.770004
2022-07-22,143.169998,140.669998,140.759995,143.020004,5292700.0,143.020004
2022-07-25,144.419998,142.529999,142.800003,143.990005,5260300.0,143.990005

## Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [5]:
PG['simple_return'] = (PG['Adj Close'] / PG['Adj Close'].shift(1)) - 1
print (PG['simple_return'])

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2022-07-19    0.005094
2022-07-20   -0.017287
2022-07-21    0.000946
2022-07-22    0.015984
2022-07-25    0.006782
Name: simple_return, Length: 6939, dtype: float64